.main-order-details {
  background-color: #fbfffe;
  display: grid;
  grid-auto-rows: auto , auto , auto;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  position: absolute;
  right: 0;
  width: 70%;
}
