* {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 150px;
}

.form {
  background-color: #eaf1ef;
  border: solid black 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  padding: 40px;
  width: auto;
}

h1 {
  margin: 20px;
  text-align: center;
}

input {
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  place-self: center start;
  width: 100%;
}

.bg-form {
  background-color: #eaf1ef;
}

.button {
  background-color: #036b52;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.erro {
  color: red;
  font-size: 20px;
}
