* {
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 150px;
}

.form {
  background-color: #eaf1ef;
  border: solid rgb(185, 179, 179) 1px;
  border-radius: 4px;
  box-shadow: 1px 2px rgb(185, 179, 179);
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  padding: 40px;
  width: auto;
}

h1 {
  margin: 20px;
  text-align: center;
}

input {
  border: 1px black solid;
  border-radius: 4px;
  font-size: 20px;
  height: 40px;
  place-self: center start;
  width: 100%;
}

input:focus {
  border: 1px solid rgb(185, 179, 179);
  box-shadow: 0 0 10px #7a828a;
  outline: none;
}

.bg-form {
  background-color: #eaf1ef;
}

.button {
  background-color: #036b52;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.button-disabled {
  background-color: #94a3a0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  opacity: 90%;
}

.erro {
  border: 1px solid red;
  color: red;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
